<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Example</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>
        <ul id="messages"></ul>
        
        <script>
            const socket = io();
            socket.on('qr_send', (msg) => {
            const messageList = document.getElementById('messages');
            const listItem = document.createElement('li');
            listItem.textContent = msg;
            messageList.appendChild(listItem);
        });
        </script>
    </body>
</html>